body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.8;
}

div.baumpfleger {
  width: 380px;
  background: #f6f6f6;
  margin: auto;
}

div.baumpfleger ul {
  margin-left: 0px;
  padding-left: 0px;
}

div.baumpfleger ul ul {
  margin-left: 20px;
}

div.baumpfleger ul ul ul {
  margin-right: 20px;
}

div.baumpfleger ul ul ul ul {
  margin-right: 20px;
}

div.baumpfleger ul ul ul ul ul {
  margin-right: 20px;
}

div.baumpfleger ul {
  list-style: none;
}

div.baumpfleger ul li.input input {
  width: 50px;
  margin-left: 20px;
}

div.baumpfleger .open:before {
  content: "▼";
  margin-right: 5px;
}

div.baumpfleger .closed:before {
  content: "►";
  margin-right: 5px;
}

div#two-col {
  width: 100%;
  overflow: auto;
}

div#col-1 {
  width: 40%;
  float: left;
  border-right: 1px dashed lightgrey;
}

div#col-2 {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

div.pp div.pp-control label {
  margin-right: 10px;
}