body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.8;
}

div.baumpfleger {
  width: 380px;
  background: #f6f6f6;
  margin: auto;
}

div.baumpfleger ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

div.baumpfleger ul ul {
  margin-left: 20px;
}

div.baumpfleger ul ul ul {
  margin-right: 20px;
}

div.baumpfleger ul ul ul ul {
  margin-right: 20px;
}

div.baumpfleger ul ul ul ul ul {
  margin-right: 20px;
}

div.baumpfleger div.edit-cell {
  width: 60%;
  margin: 0;
}

div.baumpfleger div.edit-cell div.field {
  width: 80%;
  float: left;
}

div.baumpfleger div.edit-cell div.field input {
  width: 50px;
  float: right;
  margin-right: 10px;
}

div.baumpfleger div.edit-cell div.field input.invalid {
  border: 1px dotted red;
}

div.baumpfleger div.edit-cell div.field input.commit {
  border: 1px solid green;
}

div.baumpfleger div.edit-cell div.msg {
  width: 20%;
  float: right;
}

div.baumpfleger div.edit-cell div.msg span.error {
  color: red;
  white-space: nowrap;
}

div.baumpfleger div.edit-cell::after {
  display: block;
  content: "";
  clear: both;
}

div.baumpfleger .open:before {
  content: "▼";
  margin-right: 5px;
}

div.baumpfleger .closed:before {
  content: "►";
  margin-right: 5px;
}

div#two-col {
  width: 100%;
  overflow: auto;
}

div#col-1 {
  width: 40%;
  float: left;
  border-right: 1px dashed lightgrey;
}

div#col-2 {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

div.pp div.pp-control label {
  margin-right: 10px;
}